
{% extends 'index.html' %}
{% load staticfiles %}

{% block contentblock %}
    <style xmlns="http://www.w3.org/1999/html">
        section {
            width: 100%;
            float: left;
        }
        .image-block {
            float: left;
            width: 100%;
            margin-bottom: 100px;
            margin-left: 10%;
        }
        .banner-section {
            background-image: url("{% static 'blog/images/bg.jpg' %}");
            height: 70%;
            width: 100%;
            left: 0;
            position: absolute;
            top: 0;
            background-position: 0;
        }
        .ab {
            background-color: #cec9e0;
        }

    </style>
    <div class="mdl-grid"
        <div class="mdl-layout__tab-panel is-active " id="overview" >
           <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp ">
            <section class="mdl-card mdl-cell mdl-cell--12-col mdl-color--teal-100 ">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing ">
                <h4 class="mdl-cell mdl-cell--12-col mdl-typography--font-black">Giveaway Web</h4>

                  <a href="#callbox" class=""
                </section>




        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">

            <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <div class="mdl-color-text--black" >
              <div class="mdl-card__supporting-text  ">
                  <h3 class="mdl-components__page">About Us</h3>
                  <p class="mdl-components__page mdl-text-style-italic "><h4>"Giveaway Web Provides a Plateforms to promote your products just like digital marketing" :</h4></p>

                    <p><h4>Giveaway Website Provides a Plateform to Pramot any Application or Product
                        to share in social media like Facebook and twitter and Google+ for marketing purpose.
                        any user can be registerd user and for pramoting any dacuments this website provides
                        its profile and dashborad so here he fill the products entries and upload them
                        any other user share it 1 user achive a rating card and highest rating user find
                        a free Product for using.
                    <p><h4>Whenever a website or a app created the first thing which comes in mind is developer how to make its popular among user increase outcome of business.
                    Every development team of a company wants to show case in a site where people used to visit frequently.
 ‘                  The answer is giveaways.com’. where the owner of app or website have just login to our giveaways website and upload there and promote them product. We we’ll also provide expert support to website at each step like what to promote as free bie how to select appropriate users. All the registered user have the opportunity  to share and whose share point high use the product.

                    </h4></p>

                        <br><h4><b>Thank You</b></h4><br>
                    <h5><b>Team Giveaway Web,</b></h5></p>
                </div>
            </div>
        </div>
        </section>
        </div>
{% endblock %}
